<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotLiquid" version="2.0.298" targetFramework="net451" />
  <package id="NDesk.Options" version="0.2.1" targetFramework="net4" userInstalled="true" />
  <package id="SonarAnalyzer.CSharp" version="8.1.0.13383" targetFramework="net451" developmentDependency="true" />
  <package id="System.IO.Abstractions" version="3.0.2" targetFramework="net451" userInstalled="true" />
</packages>