<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotLiquid" version="1.8.0" targetFramework="net40" />
  <package id="ILRepack.MSBuild.Task" version="1.0.9" targetFramework="net40" />
  <package id="NDesk.Options" version="0.2.1" targetFramework="net40" />
  <package id="System.IO.Abstractions" version="2.0.0.106" targetFramework="net40" />
</packages>